.item {
    background-color: #ffffff;
    width: 45%;
    text-align: left;
    margin: 4px 0;
    padding-left: 8px;
    cursor: pointer;
  }

.item.done {
    background-color: #ffffff;
    text-decoration: line-through;
  }